<form id="productForm">
    <fieldset>
        <legend>
            
        </legend>
        Product Name
        <input type="text" name="Name" id="Name" class="form-control"/>
        Product Price
        <input type="text" name="Price" id="Price" class="form-control" />
        Product Price
        <input type="text" name="Quantity" id="Quantity" class="form-control" />
        <br/>

        <input type="button" name="btnSubmit" class="btn btn-primary" value="Save" onclick="SaveProduct()"/>
    </fieldset>
</form>
<script type="text/javascript">
  
</script>
